header{
    text-align: center;
    padding: 10px;
    font-family: "Platino";
    font-size: 30px;
    background-color: lightgrey;
}

h1{
    color: darkblue;
}

h2{
    color: black;
    font-family: Platino;
    font-size: 30px;
}

h3{
    color: darkblue;
    font-size: 20px;
}

#navigation{
    padding: 10px;
    flex-direction: row;
    justify-content: flex-start, safe;
    background-color: darkblue;
}

#navigation a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-family: Arial;
}

#navigation a:hover{
    background-color: cornflowerblue;
    color: black;
}

#cv{
    display: flex;
    flex-direction: row;
}

.personal{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: lightblue ;
    border-radius: 300px;
    width: 300px;
    height: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
}

.personal img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.personal .foto{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    flex-shrink: 5;
}

.general{
    margin-top: 50px;
    margin-left: 50px;
    width: 50%
}

section{
    font-family: Arial, Helvetica, sans-serif;
}

.personal section{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.personal #Sobre{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

table, th, td {
  border: 3px solid black;
  padding: 5px;
  text-align: left;
}
